.c-section__hero {
	background-image: url("../images/bg-image-hero-section.jpg");
	background-size: cover; 
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}