h1, h2, h3 {
	font-family: var(--primary-font);
}

h1, .heading-1 {
	color: var(--white);
	text-align: center;
	padding: .2rem;

	@include min-mq($min-tablet) {
		font-size: var(--h1-font-size-tablet);
	}

	@include min-mq($min-desktop) {
		font-size: var(--h1-font-size-desktop);
	}
}

p {
	font-family: var(--secondary-font);
	color: var(--silver);
	padding: .77rem;
	text-align: center;
	font-size: var(--paragraf-font-size-small);

	@include min-mq($min-tablet) {
		font-size: var(--paragraf-font-size);
		padding: 1.1rem;
	}
}