h1, h2, h3, h4, h5 {
	font-family: var(--primary-font);
	text-align: center;
}

h1, .heading-1 {
	color: var(--white);
	padding: .2rem;

	@include min-mq($min-tablet) {
		font-size: 2rem;
	}

	@include min-mq($min-desktop) {
		font-size: 3.33rem;
	}
}

h3 {
	font-size: 2rem;
	color: var(--white);

	@include min-mq($min-desktop) {
		font-size: 2.77rem;
	}
}

h4 {
	font-size: 1.2rem;
	color: var(--silver);
	padding: .55rem 0rem;

	@include min-mq($min-tablet) {
		font-size: 1.4rem;
	}

	@include min-mq($min-desktop) {
		font-size: 1.66rem;
	}
}

h5 {
	font-size: 1.2rem;
	padding: .77rem 0 0;

	@include min-mq($min-tablet) {
		font-size: 1.4rem;
	}

	@include min-mq($min-desktop) {
		font-size: 1.66rem;
	}

	&.card-border--title {
		padding: 1.77rem 0 0;
	}
}

p {
	font-family: var(--secondary-font);
	color: var(--silver);
	padding: .55rem;
	text-align: center;
	font-size: var(--paragraf-font-size-small);

	@include min-mq($min-tablet) {
		font-size: var(--paragraf-font-size);
		padding: 1.1rem;
	}
}

.paragraf__padding {
	@include min-mq($min-tablet) {
		padding: .55rem;
	}
}

button {
	padding: .55rem 1rem;
	min-width: 13rem;
	margin: .66rem;
	border: none;
	color: var(--white);

	@include min-mq($min-tablet) {
		min-width: 9.72rem;
	}

	&:nth-of-type(1) {
		background-color: var(--green);
	}

	&:nth-of-type(2) {
		background-color: var(--orange);
	}

	&:nth-of-type(3) {
		background-color: var(--red);
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: .25rem 1.1rem;
	width: 25%;
	font-weight: var(--font-weight-medium);
	font-family: var(--secondary-font);
	font-size: var(--paragraf-font-size-small);

	@include min-mq($min-tablet) {
		font-size: var(--paragraf-font-size);
		padding: .25rem 2.77rem;
	}
}

thead {
	background-color: var(--green);
	color: var(--grey-very-dark);
}

tbody {
	color: var(--white);

	tr:nth-of-type(even) {
		background-color: var(--grey-very-dark);
	}

	tr:nth-of-type(odd) {
		background-color: transparent;
	}

	tr:nth-of-type(4) {
		background-color: var(--grey);
	}
}