.l-container {
	max-width: 66.6rem;
	margin: auto;
	padding: 1.1rem 1.3rem;
	position: relative;

	&::after {
		content: "";
	    height: 1px;
	    width: 90%;
	    background-color: var(--silver-dark);
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);	
	}

	@include min-mq($min-tablet) {
		padding: 1.1rem 3.1rem;
	}

	@include min-mq($min-desktop) {
		width: 100%;
		padding: 1.1rem 5.1rem;
	}
}

.l-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 5rem;
}

.l-table-wrapper {
	overflow-x: auto;
	width: 100%;
	margin: 2rem 0;
	padding: 0 3rem;
}

.l-card-wrapper {
	flex: 0 1 100%;
	margin-bottom: 1rem;

	@include min-mq($min-tablet) {
		flex: 0 1 48%;
	}
}