* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.6;
}

html {
	scroll-behavior: smooth;
	font-size: var(--base-size-px-small);
	
	@include min-mq($min-tablet) {
		font-size: var(--base-size-px);
	}
}

body {
	font-size: var(--size-30);
}