.c-button {
	display: inline-block;
	width: 100%;
	font-size: var(--paragraf-font-size);
	//min-width: 13rem;
	margin: .66rem 0;

	@include min-mq($min-tablet) {
		width: auto;
		margin: .66rem;
	}

	&:nth-of-type(1) {
		background-color: var(--green);
		padding: .55rem 1.83rem;
	}

	&:nth-of-type(2) {
		background-color: var(--orange);
		padding: .55rem 1rem;
	}

	&:nth-of-type(3) {
		background-color: var(--red);
		padding: .55rem 1.83rem;
	}
}