.c-card {
	border: 2px solid transparent;
	transition: background .4s;

	&:not(.card-border) {
		&:hover {
			background: rgba(255, 255, 255, 0.1);
			cursor: pointer;
			box-shadow: 0 var(--size-10) var(--size-65) rgba(0, 0, 0, 0.4);
		}
	}
}

.c-card-highlighted--danger {
	@include card-highlight (var(--red));
}

.c-card-highlighted--warning {
	@include card-highlight (var(--orange));
}