.c-card {
	margin: .55rem 0;
	transition: background .4s;

	@include min-mq($min-tablet) {
		margin: 1rem 0;
	}

	&:not(.card-border) {
		&:hover {
			background: rgba(255, 255, 255, 0.1);
			cursor: pointer;
			box-shadow: 0 0.22rem 4.38rem rgba(0, 0, 0, 0.4);
		}
	}
}

.card-border__danger {
	@include card-border (var(--red));
}

.card-border__warning {
	@include card-border (var(--orange));
}