.c-hamburger-menu {
	display: block;
	height: var(--size-65);
	width: var(--size-70);
	padding: var(--size-30);
	position: relative;
	z-index: 3;
	margin-left: auto;
	background-color: var(--transparent);

	&::before,
	&::after {
		content: '';
	    display: block;
	    width: var(--size-50);
	    height: 2px;
	    position: absolute;
	    background-color: var(--white);
	    transition: transform .4s;
	}

	&::before {
		top: 37%;
	}

	&::after {
	    bottom: 37%;
	}

	@include min-mq($min-tablet) {
		display: none;
	}
}

.c-hamburger-menu--middle-line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--white);
	opacity: 1;
	transition: opacity .4s;
}

.c-hamburger-menu--toggle {
	.c-hamburger-menu--middle-line {
		opacity: 0;
	}

	&::before {
		transform: rotate(-45deg) translate(calc(-1 * (var(--size-11))), var(--size-9));
	}
		
	&::after {
		transform: rotate(45deg) translate(calc(-1 * (var(--size-9))), calc(-1 * (var(--size-11))));
	}
}