.c-scroll-indicator {
	font-family: var(--secondary-font);
	color: var(--silver);
	font-size: var(--size-20);
	transform: rotate(-90deg);
	position: absolute;
	left: 3%;
    bottom: 7%;
    padding-bottom: var(--size-10);

    @include min-mq($min-tablet) {
		bottom: 20%;
		font-size: var(--size-25);
	}
    
	&::after {
		content: "";
	    height: 2px;
	    width: var(--size-65);
	    background-color: var(--red);
	    position: absolute;
	    bottom: 0;
	    right: 0;
	}
}