.c-scroll-indicator {
	align-self: flex-start;
	transform: rotate(270deg);
	font-size: 12px;
	position: relative;
	top: 10%;
    left: -1%;

	@media screen and (min-width: 767px) {
    	left: 3%;
    	font-size: var(--paragraf-font-size-small);
	}

	&::after {
		content: "";
	    height: 1px;
	    width: 65px;
	    background-color: var(--red);
	    position: absolute;
	    bottom: 0;
	    right: 10px;

	    @media screen and (min-width: 767px) {
			right: 20px;
		}
	}
}