.c-table-wrapper {
	overflow-x: auto;
	width: 100%;
	margin: var(--size-50) 0;
	
	@include min-mq($min-tablet) {
		width: 90%;
	}
}

.c-table__header {
	background-color: var(--green);
	color: var(--grey-very-dark);
}

.c-table__body {
	color: var(--white);

	tr:nth-of-type(even) {
		background-color: var(--grey-very-dark);
	}

	tr:nth-of-type(odd) {
		background-color: transparent;
	}

	tr:nth-of-type(4) {
		background-color: var(--grey);
	}
}

.c-table__cell {
	padding: var(--size-10) var(--size-30);
	width: 25%;

	@include min-mq($min-tablet) {
		padding: var(--size-10) var(--size-60);
	}
}