.c-square-divider {
	width: 0.61rem;
	height: 0.61rem;
	background-color: var(--orange);
	position: relative;

	@include min-mq($min-tablet) {
		margin: 0.55rem 0;
	}

	&::before, 
	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: 0.61rem;
		height: 0.61rem;
	}

	&::before {
		left: 0.61rem;
		background-color: var(--red);
	}

	&::after {
		right: 0.61rem;
		background-color: var(--green);
	}
}