.c-square-divider {
	width: var(--size-20);
	height: var(--size-20);
	background-color: var(--orange);
	position: relative;

	&::before, 
	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: var(--size-20);
		height: var(--size-20);
	}

	&::before {
		left: var(--size-20);
		background-color: var(--red);
	}

	&::after {
		right: var(--size-20);
		background-color: var(--green);
	}
}