@mixin min-mq($var) {
  @media (min-width: #{$var}) {
    @content;
  }
}
  
@mixin max-mq($var) {
  @media (max-width: #{$var}) {
    @content;
  }
}

@mixin text-devider-bottom($color, $left, $translateX) {
	position: relative;

	&::after {
		content: "";
	    height: 2px;
	    width: var(--size-75);
	    background-color: $color;
	    position: absolute;
	    bottom: 0;
	    left: $left;
	    transform: translateX($translateX);	
	}
}

@mixin card-highlight($color) {
	border: 2px solid $color;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);

	&::before {
		content: 'US & EU';
		background-color: $color;
		position: absolute;
		top: -1px;
		left: 50%;
		transform: translateX(-50%);
		font-size: var(--size-25);
		color: var(--white);
		font-family: var(--secondary-font);
		border-radius: 0 0 var(--size-15) var(--size-15);
		font-weight: var(--font-weight-bold);
		text-align: center;
		padding: var(--size-5) var(--size-55); 
	}
}

@mixin button($color) {
	margin: var(--size-15) auto;
	padding: var(--size-15) var(--size-45);
	background-color: $color;

	@include min-mq($min-tablet) {
		margin: var(--size-15);
	}
}