//dividers
.u-vertical-divider {
	color: var(--silver);
	position: relative;
	padding-right: .25rem;

	@include min-mq($min-desktop) {
		padding-right: .5rem;
	}

	&::after {
		content: "";
	    width: 1px;
	    height: 50%;
	    background-color: var(--orange);
	    position: absolute;
	    top: 50%;
	    right: -5%;
	    transform: translate(0, -50%);
	}
}

.u-text-divider-bottom__danger {
	@include text-devider-bottom (var(--red-divider));
}

.u-text-divider-bottom__success {
	@include text-devider-bottom (var(--green-divider));
}

.u-text-divider-bottom__warning {
	@include text-devider-bottom (var(--orange-divider));
}

//colors
.u-white {
	color: var(--white);
}

.u-color__danger {
	color: var(--red);
}

.u-color-warning {
	color: var(--orange);
}

.u-color-success {
	color: var(--green);
}

//display properties
.u-hidden {
	visibility: hidden;
}

//font style
.u-italic {
	font-style: italic;
	font-weight: var(--font-weight-medium);
}

.u-small-paragraf {
	font-size: var(--paragraf-font-size-small);
}

.u-small-padding {
	@include min-mq($min-tablet) {
		padding: .55rem;
	}
}