//dividers
.u-vertical-divider {
	color: var(--silver);
	position: relative;
	padding-right: var(--size-10);

	@include min-mq($min-desktop) {
		padding-right: var(--size-15);
	}

	&::after {
		content: "";
	    width: 1px;
	    height: 50%;
	    background-color: var(--orange);
	    position: absolute;
	    top: 50%;
	    right: -5%;
	    transform: translate(0, -50%);
	}
}

.u-text-divider-bottom-center--danger {
	@include text-devider-bottom (var(--red-divider), 50%, -50%);
}

.u-text-divider-bottom-center--success {
	@include text-devider-bottom (var(--green-divider), 50%, -50%);
}

.u-text-divider-bottom-left--success {
	@include text-devider-bottom (var(--green-divider), 0, 0);
}

.u-text-divider-bottom-center--warning {
	@include text-devider-bottom (var(--orange-divider), 50%, -50%);
}

//colors
.u-color--danger {
	color: var(--red);
}

.u-color--warning {
	color: var(--orange);
}

.u-color--success {
	color: var(--green);
}

.u-text--white {
	color: var(--white);
}

.u-text--black {
	color: var(--black);
}

//display properties
.u-hidden {
	visibility: hidden;
}

//font style
.u-text--italic {
	font-style: italic;
	font-weight: var(--font-weight-medium);
}

.u-text--bold {
	font-weight: var(--font-weight-bold);
}

//font size
.u-text--small {
	font-size: var(--size-25);
}

.u-align--start {
	align-self: start;
}

.u-text-center{
	text-align: center;
}

.u-text-align-left {
	text-align: left;
}

.u-container {
	max-width: 66.6rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--size-30);
}

.u-pad-0--mobile {
	@include max-mq ($min-tablet) {
		padding: 0;
	}
}

.u-padd-top {
	padding-top: var(--size-65);
}