//dividers
.u-vertical-divider {
	color: var(--silver);
	position: relative;
	padding-right: var(--size-10);

	@include min-mq($min-desktop) {
		padding-right: var(--size-15);
	}

	&::after {
		content: "";
	    width: 1px;
	    height: 50%;
	    background-color: var(--orange);
	    position: absolute;
	    top: 50%;
	    right: -5%;
	    transform: translate(0, -50%);
	}
}

.u-text-divider-bottom--danger {
	@include text-devider-bottom (var(--red-divider));
}

.u-text-divider-bottom--success {
	@include text-devider-bottom (var(--green-divider));
}

.u-text-divider-bottom--warning {
	@include text-devider-bottom (var(--orange-divider));
}

//colors
.u-color--danger {
	color: var(--red);
}

.u-color--warning {
	color: var(--orange);
}

.u-color--success {
	color: var(--green);
}

.u-text--white {
	color: var(--white);
}

//display properties
.u-hidden {
	visibility: hidden;
}

//font style
.u-text--italic {
	font-style: italic;
	font-weight: var(--font-weight-medium);
}

//font size
.u-text--small {
	font-size: var(--size-25);
}

.u-container {
	max-width: 66.6rem;
	margin-left: auto;
	margin-right: auto;
}