:root{
//fonts
--primary-font: 'Cairo', sans-serif;
--secondary-font: 'Roboto', sans-serif;

//font-sizes
--base-font-size: 18px;

--paragraf-font-size: 1rem;
--paragraf-font-size-small: .77rem;
--paragraf-font-size-extra-small: .66rem;

//font weight
--font-weight-bold: 700;
--font-weight-medium: 500;
--font-weight-normal: 400;

//colors
--white: #fff; //headings
--black: #000;

--silver: #BCBCBC; //for p text mainly
--silver-dark: #6F6F6F; //for subsection devider, bg-color of odd rows in table

--grey-very-dark: #383838;
--grey: #848484;

--green: #50FA7B; //buttons, bg-color for table header,
--orange: #FFB86C; //buttons,
--red: #E74315; //buttons,

--green-divider: #50F87B;
--orange-divider: #EFAD66;
--red-divider: #BA3A16; 

--cyan: #00FFF0; //footer links
}

//breakpoints
$min-desktop: 1279px;
$min-tablet: 767px;