:root{
//fonts
--primary-font: 'Cairo', sans-serif;
--secondary-font: 'Roboto', sans-serif;

//sizes
--base-size-px: 18px;
--base-size-px-small: 16px;

--size-5: .1rem;
--size-10: .25rem;
--size-15: .55rem;
--size-20: .66rem;
--size-25: .75rem;
--size-30: 1rem;
--size-35: 1.25rem;
--size-40: 1.55rem;
--size-45: 1.75rem;
--size-50: 2rem;
--size-55: 2.5rem;
--size-60: 2.77rem;
--size-65: 3.33rem;
--size-70: 4rem;
--size-75: 4.7rem;

//font weight
--font-weight-bold: 700;
--font-weight-medium: 500;
--font-weight-normal: 400;

//colors
--white: #fff; //headings
--black: #000;

--silver: #BCBCBC; //for p text mainly
--silver-dark: #6F6F6F; //for subsection devider, bg-color of odd rows in table

--grey-very-dark: #383838;
--grey: #848484;

--green: #50FA7B; //buttons, bg-color for table header,
--orange: #FFB86C; //buttons,
--red: #E74315; //buttons,

--green-divider: #50F87B;
--orange-divider: #EFAD66;
--red-divider: #BA3A16; 

--cyan: #00FFF0; //footer links
}

//breakpoints
$min-desktop: 1279px;
$min-tablet: 767px;