//fonts
$primary-font: 'Cairo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

//font-sizes
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$paragraf-font-size: 18px;
$paragraf-font-size-small: 14px;

//colors
$white: #fff; //headings
$black: #000;

$silver: #BCBCBC; //for p text mainly
$silver-dark: #6F6F6F; //for subsection devider, bg-color of odd rows in table

$green: #50FA7B; //buttons, rectangle devider, bg-color for table header,
$orange: #FFB86C; //buttons, rectangle devider
$red: #E74315; //buttons, rectangle devider

$cyan: #00FFF0; //footer links